/* IMPLEMENTING HIDE PPROPERTY FOR JAVASCRIPT*/

.crystal-box {
  display: flex;
  flex-wrap: wrap;
}

#amazonite {
  display: none;
}

#amber {
  display: none;
}

#amethyst {
  display: none;
}

#angelite {
  display: none;
}

#apatite {
  display: none;
}

#apophyllite {
  display: none;
}

#aquamarine {
  display: none;
}

#black-tourmaline {
  display: none;
}

#black-onyx {
  display: none;
}

#bloodstone {
  display: none;
}

#blue-lace-agate {
  display: none;
}

#carnelian {
  display: none;
}

#celestite {
  display: none;
}

#citrine {
  display: none;
}

#clear-quartz {
  display: none;
}

#fluorite {
  display: none;
}

#green-aventurine {
  display: none;
}

#hematite {
  display: none;
}

#howlite {
  display: none;
}

#lapis-lazuli {
  display: none;
}

#malachite {
  display: none;
}

#moonstone {
  display: none;
}

#obsidian {
  display: none;
}

#ocean-jasper {
  display: none;
}

#peridot {
  display: none;
}

#pink-opal {
  display: none;
}

#rainbow-obsidian {
  display: none;
}

#red-jasper {
  display: none;
}

#rhodonite {
  display: none;
}

#rose-quartz {
  display: none;
}

#shiva-lingam {
  display: none;
}

#sunstone {
  display: none;
}

#smoky-quartz {
  display: none;
}

#selenite {
  display: none;
}

#sodalite {
  display: none;
}

#tigers-eye {
  display: none;
}
